body .navbar-default {
  background-color: #4b58f5;
  border-color: #2113ca;
}
body .navbar-default #brand img {
  height: 30px;
}
body .navbar-default .navbar-brand {
  color: #d7dbff;
}
body .navbar-default .navbar-brand:hover,
body .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
body .navbar-default .navbar-text {
  color: #d7dbff;
}
body .navbar-default .navbar-nav > li > a {
  color: #d7dbff;
}
body .navbar-default .navbar-nav > li > a:hover,
body .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a:hover,
body .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2113ca;
}
body .navbar-default .navbar-nav > .open > a,
body .navbar-default .navbar-nav > .open > a:hover,
body .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2113ca;
}
body .navbar-default .navbar-toggle {
  border-color: #2113ca;
}
body .navbar-default .navbar-toggle:hover,
body .navbar-default .navbar-toggle:focus {
  background-color: #2113ca;
}
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #d7dbff;
}
body .navbar-default .navbar-collapse,
body .navbar-default .navbar-form {
  border-color: #d7dbff;
}
body .navbar-default .navbar-link {
  color: #d7dbff;
}
body .navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  body .container {
    padding: 0;
  }
  body .container .navbar-default {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .container .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7dbff;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2113ca;
  }
}
