@bleu: #3065a0;

@bgDefault      : #4b58f5;
@bgHighlight    : #2113ca;
@colDefault     : #d7dbff;
@colHighlight   : #ffffff;
body
{
	height : 100%;
	background: url('../img/global/bg.jpg') no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	background-size: cover;
	.navbar-default 
	{
		background-color: @bgDefault;
		border-color: @bgHighlight;
		#brand
		{
			img
			{
				height: 30px;
			}
		}
		.navbar-brand 
		{
			color: @colDefault;
			&:hover, &:focus 
			{ 
				color: @colHighlight;
			}
		}
		.navbar-text 
		{
			color: @colDefault; 
		}
		.navbar-nav 
		{
			> li 
			{
				> a 
				{
					color: @colDefault;
					&:hover,  &:focus 
					{
						color: @colHighlight; 
					}
				}
			}
			> .active 
			{
				> a, > a:hover, > a:focus 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
			> .open 
			{
				> a, > a:hover, > a:focus 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
		}
		.navbar-toggle 
		{
			border-color: @bgHighlight;
			&:hover, &:focus 
			{
				background-color: @bgHighlight; 
			}
			.icon-bar 
			{
				background-color: @colDefault; 
			}
		}
		.navbar-collapse,
		.navbar-form 
		{
			border-color: @colDefault; 
		}
		.navbar-link 
		{
			color: @colDefault;
			&:hover 
			{
				color: @colHighlight; 
			}
		}
	}
	h2
	{
		color: white;
	}
	footer 
	{
		bottom : 		  0;
		left: 			  0;
		padding-top: 	  10px;
		position: 		  fixed !important;
		background-color: @bgDefault; 
		border: 1px solid @bgHighlight;
		color: white;
	}
	@media (max-width: 767px) 
	{
		padding: 0;
		margin : 0;
		.container
		{
			padding: 0;

			.navbar-default
			{
				padding-left:  10px;
				padding-right: 10px;

				.navbar-nav > li > a
				 {
					text-align: center;
				}
			}
		}
		.navbar-default .navbar-nav .open .dropdown-menu
		{
			> li > a 
			{
				color: @colDefault;
				&:hover, &:focus 
				{
					color: @colHighlight; 
				}
			}
			> .active {
				> a, > a:hover, > a:focus, 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
		}
	}
}
