@import url("login.css");
@import url("bootstrap-lightbox.min.css");
body {
  height: 90%;
  background: url('../img/global/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .container {
  padding-bottom: 35px;
}
body .row {
  margin-left: 0 !important;
}
body .navbar-default {
  background-color: #4b58f5;
  border-color: #2113ca;
}
body .navbar-default #brand img {
  height: 35px;
}
body .navbar-default .navbar-brand {
  color: #d7dbff;
  padding-top: 10px;
}
body .navbar-default .navbar-brand:hover,
body .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
body .navbar-default .navbar-text {
  color: #d7dbff;
}
body .navbar-default .navbar-nav > li > a {
  color: #d7dbff;
}
body .navbar-default .navbar-nav > li > a:hover,
body .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a:hover,
body .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2113ca;
}
body .navbar-default .navbar-nav > .open > a,
body .navbar-default .navbar-nav > .open > a:hover,
body .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2113ca;
}
body .navbar-default .navbar-toggle {
  border-color: #2113ca;
}
body .navbar-default .navbar-toggle:hover,
body .navbar-default .navbar-toggle:focus {
  background-color: #2113ca;
}
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #d7dbff;
}
body .navbar-default .navbar-collapse,
body .navbar-default .navbar-form {
  border-color: #d7dbff;
}
body .navbar-default .navbar-link {
  color: #d7dbff;
}
body .navbar-default .navbar-link:hover {
  color: #ffffff;
}
body h2 {
  color: white;
}
body #personnes div {
  margin: 2%;
}
body #personnes div span {
  display: inline-block;
}
body #personnes div img {
  float: none;
}
body #personnes div .caption {
  text-align: center;
}
body #personnes div .caption aside {
  border: 1px solid #2113ca;
  border-radius: 9px;
  background-color: rgba(200,200,200,0.5);
  padding: 3%;
}
body blockquote {
  font-size: 0.9em !important;
}
body #contact-div {
  color: #3065a0;
  background-image: linear-gradient(to bottom,#e8e8e8 0%,#f5f5f5 100%);
  box-shadow: inset 0px -7px 6px 1px #4b58f5;
  border-radius: 10px;
  padding: 20px;
}
body #map-canvas {
  height: 480px;
  width: 100%;
}
body #footer-Principal {
  bottom: 0;
  left: 0;
  padding-top: 10px;
  position: fixed !important;
  background-color: #4b58f5;
  border: 1px solid #2113ca;
  color: white;
}
body #footer-Principal div p a {
  color: #2113ca;
}
body #footer-Principal div p a:hover {
  color: red;
}
body div [data-ng-controller="gestion"] {
  background-color: #ffffff;
}
@media (max-width: 1200px) and (min-width: 768px) {
  body .container {
    margin: 0;
    width: 100%;
  }
  body .container nav .navbar-default {
    display: inline-block;
  }
  body .container nav .navbar-default .navbar-header {
    float: left;
  }
  body .container nav .navbar-default .navbar-collapse {
    display: inline-block !important;
  }
  body .container nav .navbar-default .navbar-collapse .nav {
    float: none;
  }
  body .container #map-canvas {
    height: 330px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  body .row div {
    padding-left: 0;
  }
  body .container {
    padding: 0;
    padding-bottom: 100px;
  }
  body .container .navbar-default {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .container .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  body .container #map-canvas {
    height: 300px;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7dbff;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  body .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  body .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2113ca;
  }
}
