@bleu: #3065a0;

@bgDefault      : #4b58f5;	  // bleu clair
@bgHighlight    : #2113ca;	 // bleu foncé
@colDefault     : #d7dbff;	// gris
@colHighlight   : #ffffff; // blanc
body
{
	height : 90%;
	background: url('../img/global/bg.jpg') no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	background-size: cover;

	.navbar-default 
	{
		background-color: @bgDefault;
		border-color: @bgHighlight;

		#brand
		{
			img
			{
				height: 30px;
			}
		}
		.navbar-brand 
		{
			color: @colDefault;
			&:hover, &:focus 
			{ 
				color: @colHighlight;
			}
		}
		.navbar-text 
		{
			color: @colDefault; 
		}
		.navbar-nav 
		{
			> li 
			{
				> a 
				{
					color: @colDefault;
					&:hover,  &:focus 
					{
						color: @colHighlight; 
					}
				}
			}
			> .active 
			{
				> a, > a:hover, > a:focus 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
			> .open 
			{
				> a, > a:hover, > a:focus 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
		}
		.navbar-toggle 
		{
			border-color: @bgHighlight;
			&:hover, &:focus 
			{
				background-color: @bgHighlight; 
			}
			.icon-bar 
			{
				background-color: @colDefault; 
			}
		}
		.navbar-collapse,
		.navbar-form 
		{
			border-color: @colDefault; 
		}
		.navbar-link 
		{
			color: @colDefault;
			&:hover 
			{
				color: @colHighlight; 
			}
		}
	}
	h2
	{
		color: white;
	}
	#personnes div{
		margin: 2%;
		span
		{
			display: inline-block;
		}
		img
		{
			float: none;
		}
		.caption
		{
			text-align: center;

			aside
			{
				border: 1px solid @bgHighlight;
				border-radius: 9px;
				background-color: rgba(200,200,200,0.5);
				padding: 3%;
			}
		}
	}
	footer 
	{
		bottom : 		  0;
		left: 			  0;
		padding-top: 	  10px;
		position: 		  fixed !important;
		background-color: @bgDefault; 
		border: 1px solid @bgHighlight;
		color: white;

		div p a
		{
			color: @bgHighlight;
			
			&:hover
			{
				color: red;
			}
		}
	}
	@media (max-width: 1200px) and (min-width: 768px) // ecran moyen
	{
		.container
		{
			margin: 0;
			width : 100%;
			padding-left: 0;
			padding-right: 0;

			nav
			{
				.navbar-default
				{
					display : inline-block;

					.navbar-header
					{
						float: left;
					}
					.navbar-collapse
					{
						display: inline-block !important;
						
						.nav
						{
							float: none;						
						}
					}
				}
			}
		}
	}
	@media (max-width: 767px) //smartphone
	{
		padding: 0;
		margin : 0;
		.container
		{
			padding: 0;
			padding-bottom: 100px;

			.navbar-default
			{
				padding-left:  10px;
				padding-right: 10px;

				.navbar-nav > li > a
				 {
					text-align: center;
				}
			}
		}
		.navbar-default .navbar-nav .open .dropdown-menu
		{
			> li > a 
			{
				color: @colDefault;
				&:hover, &:focus 
				{
					color: @colHighlight; 
				}
			}
			> .active {
				> a, > a:hover, > a:focus, 
				{
					color: @colHighlight;
					background-color: @bgHighlight; 
				}
			}
		}
	}
}
